// Importa aquí tus fuentes.
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

$font-primary: "Roboto", serif;

$font-size-x-small: 12px;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-x-large: 24px;
$font-size-xx-large: 28px;
$font-size-extra-large: 46px;

h1,
h2,
h3,
h4,
h5,
h6
p {
  margin: 0;
}

h1 {
    font-size: $font-size-extra-large;
    color: $color-secondary;
    font-family: $font-primary;
    font-weight: 300;
    margin: $padding-large 0;

    @include for-size(m) {
        font-size: $font-size-xx-large;
    }
}

h2 {
    font-size: $font-size-xx-large;
    color: $color-secondary;
    font-family: $font-primary;
    font-weight: 300;
    margin: $padding-small 0;

    @include for-size(m) {
        font-size: $font-size-x-large;
    }
}

h3 {
    font-size: $font-size-x-large;
    color: $color-secondary;
    font-family: $font-primary;
    font-weight: 200;
    margin: $padding-small 0;

    @include for-size(m) {
        font-size: $font-size-large;
    }
}

h4 {
    font-size: $font-size-large;
    color: $color-secondary;
    font-family: $font-primary;
    font-weight: 200;
    margin: $padding-small 0;

    @include for-size(m) {
        font-size: $font-size-medium;
    }
}

h5 {
    font-size: $font-size-small;
    color: $color-secondary;
    font-family: $font-primary;
    font-weight: 100;
    margin: $padding-small 0;

    @include for-size(m) {
        font-size: $font-size-x-small;
    }
}

h6 {
    font-size: $font-size-x-small;
    color: $color-secondary;
    font-family: $font-primary;
    font-weight: 100;
    margin: $padding-small 0;
}

p {
    font-family: $font-primary;
    font-size: $font-size-medium;
    color: $color-terciary;
    font-weight: 100;
    margin: $padding-small 0;
}
